:root {
  --primary-text-color: #362a52;
  --primary-hover-color: #211a33;
  --primary-font-family: "Philosopher", sans-serif;
  --button-font-family: "Encode Sans", sans-serif;
  --light-background-color: white;
}

.manage-spells {
  width: 350px;
}
.manage-spells-hidden {
  position: fixed;
  top: 0;
  right: -100%;
  transition: 1000ms;
}

.manage-spells-active {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px;
  position: fixed;
  top: 0;
  right: 0;
  transition: 1000ms;
  overflow: auto;
}

.spell-book-wrapper {
  background-color: var(--light-background-color);
}

.close-spells {
  position: sticky;
  top: 0;
  left: 0px;
  z-index: 6;
}

.title-prepared-spells-container {
  position: sticky;
  top: 0;
  z-index: 5;
}
.SpellBookTitle {
  background-color: var(--light-background-color);
  color: var(--primary-text-color);
  font-family: var(--primary-font-family);
  padding-top: 5px;
  padding-bottom: 15px;
  margin-bottom: auto;
  flex-shrink: 0;
}

.prepared-spells {
  background-color: var(--light-background-color);
  color: var(--primary-text-color);
  font-family: var(--primary-font-family);
  font-size: 12px;
  text-align: left;
  padding-bottom: 10px;
  padding-left: 10px;
}

.prepared-spells-title {
  font-size: 14px;
  padding-left: 0px;
}

.level-group {
  font-family: var(--primary-font-family);
  z-index: 4;
}

.level-card {
  padding-bottom: 10px;
}

.level-card-body {
  flex-direction: row;
}

.card-title {
  padding-top: 10px;
}

.spell_pill {
  align-items: center;
  border-radius: 10px;
  /* max-width: 250px; */
  margin: 2px;
}

.spell-display {
  font-family: var(--primary-font-family);
  font-size: 14px;
  vertical-align: middle;
}

.spell-display:hover {
  cursor: pointer;
}

.standard-sm-btn {
  box-shadow: 1px 1px rgb(0 0 0 / 25%);
  font-family: var(--button-font-family);
  font-size: 7px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 2px;
  padding: 5px;
  vertical-align: middle;
}

.spell-desc-container {
  position: relative;
}

.SpellDescImg {
  width: 90%;
  /* height: auto; */
  padding: 5px 0px;
}

.copy-to-clipboard {
  position: absolute;
  top: 5px;
  right: 10px;
  /* bottom: 0; */
}

.prepare-btn {
  background-color: var(--primary-text-color);
  color: var(--light-background-color);
}
.prepare-btn:hover {
  background-color: var(--primary-hover-color);
  color: var(--light-background-color);
}

.unprepare-btn {
  border: solid 1px var(--primary-text-color);
  color: var(--primary-text-color);
}

.disabled {
  background-color: #9fa5aa;
  color: var(--light-background-color);
}

.unprepare-btn:hover {
  background-color: var(--primary-text-color);
  color: var(--light-background-color);
}

.btn-container {
  display: inline;
}
