:root {
  --primary-text-color: #362a52;
  --primary-hover-color: #211a33;
  --primary-font-family: "Philosopher", sans-serif;
  --button-font-family: "Encode Sans", sans-serif;
}

.spell_pill {
  align-items: center;
  border: solid 1px #030303;
  border-radius: 10px;
  max-width: 250px;
  margin: 2px;
}

.spell-display {
  font-family: var(--primary-font-family);
  font-size: 14px;
  vertical-align: middle;
}

.standard-sm-btn {
  box-shadow: 1px 1px rgb(0 0 0 / 25%);
  font-family: var(--button-font-family);
  font-size: 7px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 2px;
  padding: 5px;
  vertical-align: middle;
}

.prepare-btn {
  background-color: var(--primary-text-color);
  color: white;
}
.prepare-btn:hover {
  background-color: var(--primary-hover-color);
  color: white;
}

.unprepare-btn {
  border: solid 1px var(--primary-text-color);
  color: var(--primary-text-color);
}

.unprepare-btn:hover {
  background-color: var(--primary-text-color);
  color: white;
}

.btn-container {
  display: inline;
}
