:root {
  --primary-text-color: #362a52;
  --primary-light-text-color: #b1cdbe;
  --light-text-fade: #b1cdbe90;
  --primary-hover-color: #211a33;
  --primary-font-family: "Philosopher", sans-serif;
  --button-font-family: "Encode Sans", sans-serif;
  --primary-background-dark: #211a3387;
}

.action-name {
  color: var(--primary-light-text-color);
  font-family: var(--primary-font-family);
  text-align: left;
}

.cast-btn {
  border: solid 1px var(--primary-light-text-color);
  color: var(--primary-light-text-color);
}

.cast-btn:hover {
  color: #9db7a9;
}
